$text-size: 22px;

h1, h2, h3, h4, h5, h6 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

p > ul {
    margin: 15px;
}

.context {
    padding: 10px 150px 100px 100px;
    p {
        @extend .stdText;
    }
    span {
        @extend .chessText;
    }
}

.stdText {
    font-family: 'Zilla Slab', 'Rasa', serif;
    font-size: $text-size;
    color: rgb(104, 104, 104);
}

.chessText {
    font-family: 'Roboto Slab', serif;
    font-size: $text-size * 0.9;
    font-weight: lighter;
    color: rgb(95, 94, 94);
}

#openings-sidebar {
    font-size: $text-size * 0.85;
    min-width: 300px;
    max-width: 300px;
}
